# Visual Studio
.vs
vs20*
out

# VS Code
.vscode
build

# Clion
.idea
cmake-build-*

# macOS
.DS_STORE

# Resource
Resource/SystemSave.json
Resource/Backup/
Resource/MAP/
Resource/Track/

# Others
*.log

# Externals
freetype/
lvgl/

